body {
  background-color:#8EFF83;
}
h1 {
  text-indent:150px;
  color:#2D9C00;
}
p{
 text-align:justify;
 margin-top: 10px;
 margin-right: 30px;
 margin-bottom: 10px;
 margin-left: 30px;
}
img{
 float: left;
 margin-bottom: 20px;
 margin-left: 30px;
 margin-right: 30px;
}

.primero {
clear: both;}